extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var dedscription = 'Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title','item desc')
      +item('item title','item desc')
      +item('item title','item desc')
  section
    .container
      h1 Jade - node template engine
      p hello pug
  section
    .container
      h1 Jade - node template engine
      p hello pug
  example-component

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }    